<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hotels in your region</title>
</head>

<body>
<section>
    <div class="container">
    <h1><font color="white">Available hotels in your region</font></h1>
        <form method="post" th:action="@{/booking}">

                <div class="card bg-light mb-3 inline-block">
                    <tr th:each="hotel : ${hotels}">
                        <div class="card custom-card text-center mr-2 mt-2 ml-2 mb-2"
                             style="width: 15rem; display: inline-block">
                            <div class="card-body">
                                <p class="card-text" th:text="${hotel.name}">Name</p>
                                <p class="card-text" th:text="${hotel.hotelAddress}">Address</p>
                                <p class="card-text" th:text="${hotel.hotelPhone}">Phone</p>
                                <button class="btn btn-info" th:action="submit">Book here!</button>
                            </div>
                        </div>
                    </tr>
                </div>

        </form>
    </div>
</section>
    <script>
        navigator.geolocation.getCurrentPosition(function(position) {
            document.getElementById('latitude').value = position.coords.latitude;
            document.getElementById('longitude').value = position.coords.longitude;
        });
    </script>
</body>

</html>