<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
  <section>
    <div class="container" sec:authorize="hasAnyAuthority('ADMIN', 'USER')">
      <H1>Hello</H1>

    </div>
  </section>
  <script>
        var requestOptions = {
          method: 'GET',
        };

        fetch("https://api.geoapify.com/v1/ipinfo?&apiKey=2918a1c98d8d42cea35032478fd88342", requestOptions)
          .then(response => response.json())
          .then(result => console.log(result))
          .catch(error => console.log('error', error));
    </script>
</body>
</html>